@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
    html{
        font-family: "Plus Jakarta Sans", sans-serif;
        font-optical-sizing: auto;
        font-weight: 500;
        font-style: normal;
        font-variation-settings:
        "slnt" 0,
        "CRSV" 1,
        "SHRP" 0;
        
    }

    body{
        background-color: rgb(255, 255, 255);
        overflow-x: hidden;
    }
    
}

@layer components {
    .more-rounded{
        border-radius: 30px; 
    }
    .r1{
        border-radius: 10px;
    }
    .panel{
        background-color: grey;
    }    
    
    .input-box{
        @apply w-full text-sm bg-transparent border-[1.5px] px-5 py-3 r1 mb-4 outline-none
    }
    .btn-primary{
        @apply w-full text-sm bg-primary p-2 rounded my-1 text-white hover:bg-blue-600
    }
    
    .icon-btn {
        @apply text-xl text-slate-300 cursor-pointer hover:text-primary
    }

    .input-label {
        @apply text-xs text-slate-400
    }

    .t1{
        @apply font-bold
    }

    .social-box{
        @apply cursor-pointer outline-none duration-500 transition-opacity rounded hover:bg-slate-600 px-8 
    }

    .ani{
        @apply opacity-50 hover:opacity-100 transition-opacity text-white drop-shadow-lg duration-500
    }

}

